.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data/*
old_output/*
cache/*
results/*
_targets
_targets_r431/
.env
*.Rproj
*.pdf
figures/*
*.html
output/Rout/*
output/velocyto/*
output/*
ARMOR/*
*.h5Seurat
*.h5ad
.nextflow
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.snakemake
work
*.rds
batch_hashes.sqlite
doc/table_s01.csv
doc/kstachelek_rb_scna_tx_effects_2025-10-09.docx
doc/paper.md
doc/targets_rulegraph_files/
doc/targets_rulegraph_hierarchical_ud_files/
doc/targets_rulegraph_compact_files/
.R_libs:/
.R_libs/
tmp/
Rb_object
.codetree/
pipeline.log
*.zip