.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data/*
old_output/*
cache/*
results/*
_targets
.env
*.Rproj
*.pdf
figures/*
*.html
output/Rout/*
output/velocyto/*
output/*
ARMOR/*
*.h5Seurat
*.h5ad
.nextflow
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.snakemake
work
